<%- layout("/layouts/boilerplate") %>

<h3>edit you listings</h3>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
  <div>
    <label for="title">Title:</label>
    <input
      name="listing[title]"
      placeholder="title"
      value="<%=listing.title%>"
    />
  </div>
  <br />
  <textarea name="listing[description]"><%= listing.description %></textarea>
  <br />
  <input name="listing[Image]" placeholder="Image" value="<%=listing.image%>" />
  <br />
  <input
    type="number"
    name="listing[price]"
    placeholder="price"
    value="<%=listing.price%>"
  />
  <br />
  <input
    name="listing[country]"
    placeholder="Enter country name"
    value="<%=listing.country%>"
  />
  <br />
  <input
    name="listing[location]"
    placeholder="Enter location"
    value="<%=listing.location%>"
  />
  <br />
  <button>edit</button>
</form>
